


.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: transparent;
  width: 100%; /* Make sure the toolbar spans the full width *
  flex-direction: row; 
	width: 100%; /* Ensures the toolbar stretches across the full width */
    padding: 10px 20px;
    border-bottom:transparent;
    position: fixed;  /* Set position to fixed */
    top: 0;         /* Place it at the top of the viewport */
    z-index: 100;     /* Ensure it stays on top of other content */
}

.toolbar-logo {
  height: 50px;  
  margin-right: 20px; 
}

.toolbar-content {
	display: flex;
  color: white;
	width: 100%; /* Ensures the toolbar stretches across the full width */
	gap: 10px; /* Adds space between icons group and date-time */
  justify-content: space-between;
  }

.date-time, .toolbar-buttons {
  color: white;
  display:flex;
}

.toolbar-button, .dropdown-toggle {
  padding: 8px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-toggle img {
  width: 20px;
  height: auto;
}

.language-dropdown {
  position: relative;
}

.dropdown-content {
  position: fixed;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
}

.dropdown-item {
  padding: 5px 10px;
  text-align: center;
  display: block;
  width: 100%;
  border: 1px solid #dcdcdc;
  background: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}